scratch/commandtest.jl
slurm*
/.swp
scratch/*

# Latex Stuff
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.log
*.out
*.synctex.gz
*.fls

data/output/signals_official_noise_0.?_len_*/*
data/output/signals_official_noise_0.?_allsignal/*
!data/output/signals_official_noise_0.?_allsignal/*summary.csv
!data/output/signals_official_noise_0.?_allsignal/*dispersion.csv
data/output/official/*
!data/output/official/*summary.csv

data/output/signals_official_noise_0.?_allsignal/*
!data/output/signals_official_noise_0.?_allsignal/*summary.csv
!data/output/signals_official_noise_0.?_allsignal/*dispersion.csv
data/output/alter/*
!data/output/alter/*summary.csv
data/output/signals_official_noise_0.02_allsignal/*
